.aid-nav-trigger {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  bottom: 20px;
  display: none;
  height: 54px;
  left: 50%;
  margin-left: -27px;
  position: fixed;
  width: 54px;
  z-index: 1;
}
.aid-nav-trigger .aui-iconfont-close-dialog {
  display: none;
}
@media screen and (max-width: 440px) {
  .aui-page-default .aui-page-header .aui-page-header-image .aui-avatar-large,
  .aui-page-default .aui-page-header .aui-page-header-image .aui-avatar-large .aui-avatar-inner,
  .aui-page-default .aui-page-header .aui-page-header-image .aui-avatar-large .aui-avatar-inner img {
    height: 32px;
    width: 32px;
  }
  .aui-page-default .aui-page-header h1 {
    font-size: 24px;
  }
  .aui-page-default .aui-page-panel-inner {
    display: block;
  }
  .aui-page-default .aui-page-panel-content,
  .aui-page-default .aui-page-panel-item,
  .aui-page-default .aui-page-panel-nav,
  .aui-page-default .aui-page-panel-sidebar {
    display: block;
    width: auto;
  }
  .aui-page-default .aui-page-panel-nav {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: bottom 0.2s ease-in;
    -moz-transition: bottom 0.2s ease-in;
    -ms-transition: bottom 0.2s ease-in;
    -o-transition: bottom 0.2s ease-in;
    transition: bottom 0.2s ease-in;
    background: #fff;
    border-top: 1px solid #ccc;
    bottom: -100%;
    left: 0;
    padding-bottom: 70px;
    position: fixed;
    right: 0;
    z-index: 1;
  }
  .aui-page-default::before {
    content: "";
    opacity: 0;
    transition: opacity .2s,visibility .2s;
    transition-delay: .1s;
    visibility: hidden;
    background: #000;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .aid-nav-open .aui-page-panel-nav {
    bottom: 0;
  }
  .aid-nav-open .aid-nav-trigger .aui-iconfont-appswitcher {
    display: none;
  }
  .aid-nav-open .aid-nav-trigger .aui-iconfont-close-dialog {
    display: inline-block;
  }
  .aid-nav-open::before {
    opacity: .5;
    visibility: visible;
  }
  .aid-nav-trigger {
    display: block;
  }
  form.aui .text,
  form.aui .password,
  form.aui .textarea,
  form.aui .select,
  form.aui .multi-select,
  form.aui .aui-select2-container .select2-choices,
  form.aui .password ~ .passwordstrength,
  form.aui .text ~ .passwordstrength {
    max-width: none !important;
  }
  form.aui .field-group {
    padding-left: 0;
  }
  form.aui .field-group > label {
    display: block;
    float: none;
    margin: 0 0 5px 0;
    padding: 0;
    text-align: left;
    width: auto;
  }
  form.aui .field-group.has-password-revealer {
    padding-top: 4px !important;
  }
  form.aui .field-group.has-password-revealer > .password-revealer {
    margin-right: 0 !important;
    right: 0 !important;
    top: 4px !important;
  }
  form.aui .icon-required {
    left: 0;
    position: static;
    top: 0;
  }
  form.aui .field-value {
    padding-top: 0;
  }
  form.aui .group,
  form.aui .date-select {
    padding-left: 0;
  }
  form.aui .group legend,
  form.aui .date-select legend {
    float: none;
    margin: 0;
    text-align: left;
    width: auto;
  }
  form.aui .date-select label {
    display: none;
  }
  form.aui .buttons-container {
    padding-left: 0;
  }
}
