.user-avatar-form {
  position: relative;
}
.user-avatar-form .aui-avatar {
  position: relative;
}
.user-avatar-form .avatar-delete-overlay {
  width: 128px;
  height: 128px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
}
.user-avatar-form .avatar-delete-overlay:hover {
  background-color: #e9e9e9;
  opacity: 0.6;
}
.user-avatar-form .avatar-delete-overlay .avatar-delete-trigger {
  background: transparent;
  border: 0;
  color: #242424;
  cursor: pointer;
  display: block;
  margin: 5px;
  padding: 0;
}
.user-avatar-form .avatar-picker-trigger {
  font-size: 12px;
  text-align: center;
  width: 128px;
}
.user-avatar-form .gravatar-notice {
  color: #707070;
  display: none;
  font-size: 12px;
  margin-top: 5px;
  text-align: center;
}
.gravatar-source .avatar-delete-overlay,
.default-source .avatar-delete-overlay {
  display: none;
}
.gravatar-source .gravatar-notice {
  display: block;
}
.account-settings {
  max-width: 800px;
}
#account-settings-form {
  margin-right: 20px;
}
#account-settings-form #email {
  min-width: 170px;
}
.account-settings-change-email {
  font-size: 12px;
}
.avatar-panel {
  border-left: 1px solid #ccc;
  width: 148px;
}
@media screen and (max-width: 800px) {
  .account-settings.aui-group {
    display: block;
  }
  .account-settings.aui-group > .aui-item {
    display: block;
    padding-left: 0;
  }
  .account-settings.aui-group > .aui-item.avatar-panel {
    border-left: 0;
    margin: 20px auto 0;
    width: 128px;
  }
  #account-settings-form {
    margin-right: 0;
  }
  #account-settings-form #email {
    min-width: 0;
  }
  .account-settings-change-email {
    float: right;
    line-height: 1.66666667px;
  }
}
