@CHARSET "UTF-8";

div.container {
	width: 100%;
	padding: 3px;
	background-color: #e0e0e0;
	padding-top: 4em;
	height: 100%;
}

nav {
	float: left;
	width: 20%;
	background-color: white;
	border-radius: 10px;
	margin-left: 40px;
	padding-left: 20px;
	padding-bottom: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

nav ul {
	list-style-type: square;
	padding: 2em;
}

nav ul a:link {
	text-decoration: none;
}

nav ul a:hover {
	text-decoration: none;
	background-color: transparent;
}

article {
	padding-left: 25px;
	overflow: hidden;
	background-color: white;
	height: 100%;
	border-radius: 10px;
	padding-bottom: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

li a.menu:hover {
	color: red;
}

li a.menu {
	color: white;
	text-align: center;
	padding: 16px;
}

ul.ul1 {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:;
}

ul.ul0 {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: green;
}

div.img {
	margin: 5px;
	float: left;
	width: 180px;
}

div.img img {
	width: 100%;
	height: 170px;
}

div.desc {
	padding: 15px;
	text-align: center;
	background-color: white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #e0e0e0;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 65px;
	font: bold;
}

.hovereffect {
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.hovereffect .overlay {
	width: 100%;
	position: absolute;
	overflow: hidden;
	left: 0;
	bottom: 0;
	height: 4.74em;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	-webkit-transition: -webkit-transform 0.35s;
	padding-top: 20px;
	padding-right: 10px;
}

.hovereffect img#foodimage {
	display: block;
	position: relative;
	-webkit-transition: all .4s linear;
	transition: all .4s linear;
}

.hovereffect:hover img#foodimage {
	
}

.hovereffect h8 {
	text-transform: uppercase;
	text-align: center;
	position: relative;
	font-size: 17px;
	padding: 5px;
	background: rgba(0, 0, 0, 0.6);
	float: left;
	margin: 0px;
	display: inline-block;
}

.hovereffect a.info {
	display: inline-block;
	text-decoration: none;
	padding: 7px 14px;
	text-transform: uppercase;
	color: white;
	margin: 50px 0 0 0;
	background-color: transparent;
	margin: 50px 0 0 0;
}

.hovereffect a.info:hover {
	box-shadow: 0 0 5px white;
}

.hovereffect p.icon-links a {
	float: right;
	color: #3c4a50;
	font-size: 1.4em;
	margin-right: 10px;
}

.hovereffect:hover p.icon-links a:hover, .hovereffect:hover p.icon-links a:focus
	{
	color: #252d31;
}

.hovereffect h2, .hovereffect p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0, 200%, 0);
	transform: translate3d(0, 200%, 0);
}

.hovereffect p.icon-links a span:before {
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hovereffect:hover .overlay, .hovereffect:hover h8, .hovereffect:hover p.icon-links a
	{
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.hovereffect:hover h8 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.hovereffect:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

#login-dp {
	min-width: 250px;
	padding: 14px 14px 0;
	overflow: hidden;
	background-color: rgba(255, 255, 255, .8);
}

#login-dp .help-block {
	font-size: 12px
}

#login-dp .bottom {
	background-color: rgba(255, 255, 255, .8);
	border-top: 1px solid #ddd;
	clear: both;
	padding: 14px;
}

#login-dp .social-buttons {
	margin: 12px 0
}

#login-dp .social-buttons a {
	width: 49%;
}

#login-dp .form-group {
	margin-bottom: 10px;
}

.btn-fb {
	color: #fff;
	background-color: #3b5998;
}

.btn-fb:hover {
	color: #fff;
	background-color: #496ebc
}

.btn-gg {
	color: #ffffff;
	background-color: #ce3400;
}

.btn-gg:hover {
	color: #ffffff;
	background-color: #ea3a00;
}

@media ( max-width :768px) {
	#login-dp {
		background-color: inherit;
		color: #fff;
	}
	#login-dp .bottom {
		background-color: inherit;
		border-top: 0 none;
	}
}