.main-content {
	position: relative;
}
/*-------HEADER SECTION------*/
/* ----STICKY HEADER----*/
.sticky-header {
	position: fixed;
	top: 0;
	left: 0px;
	width: 100%;
	z-index: 100;
}

.header-section {
	background: #FFF;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.21);
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.21);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.21);
	-o-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.21);
}

.header-section::after {
	clear: both;
	display: block;
	content: '';
}

.header-left {
	float: left;
	width: 45%;
}

.header-right {
	float: right;
}
/* ----menu-icon----*/
button#showLeftPush {
	font-size: 1.5em;
	width: 80px;
	padding: 0.87em 0;
	text-align: center;
	cursor: pointer;
	float: left;
	color: #6F6F6F;
	-moz-transition: all 0.2s ease-out 0s;
	-webkit-transition: all 0.2s ease-out 0s;
	transition: all 0.2s ease-out 0s;
	border: none;
	background-color: #fff;
	outline: none;
}

button#showLeftPush:hover {
	color: #6164C1;
}
/*--push-menu-css--*/
.cbp-spmenu {
	position: fixed;
}

.cbp-spmenu-vertical {
	width: 309px;
	height: 100%;
	top: 76px;
	z-index: 1000;
	background-color: #4F52BA;
	padding: 2em 0;
}

.cbp-spmenu-left {
	left: 0;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: -309px;
}
/* Push classes applied to the body */
.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
}

.cbp-spmenu-push-toright {
	left: 0;
}
/* Transitions */
.cbp-spmenu, .cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.cbp-spmenu-push div#page-wrapper {
	margin: 0 0 0 19.3em;
	transition: .5s all;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
}

.cbp-spmenu-push.cbp-spmenu-push-toright div#page-wrapper {
	margin: 0;
}
/*--//push-menu-css--*/
/*--side-menu--*/
.sidebar ul li {
	margin-bottom: 1em;
}

.sidebar ul li a {
	color: #FFFFFF;
	font-size: 1em;
}

.sidebar .arrow {
	float: right;
}

.fa {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background: none;
	color: #e94e02;
}

ul.dropdown-menu {
	animation: flipInX 1s ease;
	-moz-animation: flipInX 1s ease;
	-webkit-animation: flipInX 1s ease;
	-webkit-backface-visibility: visible !important;
	-ms-backface-visibility: visible !important;
	backface-visibility: visible !important;
	-moz-backface-visibility: visible !important;
	data-wow-delay: ".1s";
}


	